<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<html>
  <body>
    <h1>This is a prototype of the <%= yield(:title) %> page.</h1>
    <p>Currently empty</p>
        <div class="row">
		<div class="span6 offset3">
			<%= form_for @contact, url: contact_path do |f| %>
				<%= f.label :name %>
				<%= f.text_field :name %>
				<%= f.label :email %>
				<%= f.text_field :email %>
				<%= f.label :message %>
				<%= f.text_field :message %>				
				<%= f.submit "Contact", class: "btn btn-large btn-primary" %>
			<% end %>
		</div>
	</div>
  </body>
</html>


