<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<html>
  <body>
    <h1>Contact me <%= image_tag("email_icon.png", size:"80x60", hspace:"15")%></h1>
    <div class="row">
		<div class="span6 offset3">
			<%= form_for @contact do |f| %>+
				<%= render 'shared/error_messages' %>
				<%= f.label :name %>
				<%= f.text_field :name %>
				<%= f.label :email %>
				<%= f.text_field :email %>
				<%= f.label :message%>
				<%= f.text_area :message, rows:10, cols:10%>				
				<%= f.submit "Send", class: "contact_button"%>
			<% end %>
		</div>
	</div>
  </body>
</html>


